INP
STA 50
INP
STA 51
LDA 50
ADD 51
OUT
LDA 50
SUB 51
OUT
HLT
------------------------------
INP
STA 50
INP
STA 51
LDA 50		
SUB 51
BRP POSITIVE
BRZ ENDTHIS
LDA 50
STA 30
OUT
LDA 51
STA 31
OUT
HLT
POSITIVE LDA 51
STA 41
OUT
LDA 50
STA 40
OUT
HLT
ENDTHIS HLT
-----------------------------------------------

        INP
        STA 91 
        INP 
        STA 92 
        INP 
        STA 93 
        LDA 92 
        SUB 91 
        BRP STEP2
        LDA 92 
        STA 99 
        LDA 91
        STA 92 
        LDA 99
        STA 91 
STEP2   LDA 93 
        SUB 92
        BRP STEP3 
        LDA 93 
        STA 99 
        LDA 92
        STA 93 
        LDA 99
        STA 92 
STEP3   LDA 92 
        SUB 91
        BRP STEP4
        LDA 92 
        STA 99 
        LDA 91
        STA 92 
        LDA 99
        STO 91 
STEP4   LDA 91 
        OUT
        LDA 92
        OUT
        LDA 93
        OUT
        HLT
________________________________________
<html>
    <head>
        <title>Laboratory WORK №4</title>
    </head>
    <body style="background-color:white;">

        <svg width="1000px" height="1000px">
            
            <text x="150" y="20" fill="black">THIS IS LABOROTORY WORK №4
            </text>

            <text x="150" y="50" fill="black">name: KADYR TEMIRLAN!
        </text>


            <circle cx="62" cy="42" r="39"
        fill="grey"  />  /* verhniy circle*/

            <rect x="20" y="20"  width="85" height="85"
      fill="grey" stroke="black" stroke-width="4" /> /*1 kvadrat*/

      <rect x="20" y="107" rx="4" ry="4" width="85" height="85"
      fill="grey" stroke="black" stroke-width="4" /> /* 2 kvadrat*/

      <rect x="20" y="193" rx="4" ry="4" width="85" height="85"
      fill="grey" stroke="black" stroke-width="4" /> /* 3 kvadrat*/

      <circle cx="62" cy="64" r="28"
        fill="yellow"  />  /*yellow znak*/

        <circle cx="62" cy="149" r="28"
        fill="green"  />  /*green znak*/

        <circle cx="62" cy="234" r="28"
        fill="red"  />  /*red znak*/

        <rect x="50" y="281.1" width="25" height="245"
      fill="grey"  />  /*niz svetofora*/

      <rect x="20" y="280.2"  width="85" height="3"
      fill="black"  /> /*nizhniy rectangle*/

      <rect x="48" y="190.2" rx="4" ry="4" width="30" height="4.8"
      fill="grey"  /> /* line between 1 and 2 kvadrat*/


        </svg>
    </body>
</html>

=================================
import pygame
display = pygame.display.set_mode([800,600])
display.fill((200,200,200))
pygame.display.set_caption("Lab 10")

run = True
while(True):
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            run = False

    pygame.draw.rect(display,(50,90,128),(260,20,110,300))
    pygame.draw.circle(display,(255,0,0),(315,65),35)
    pygame.draw.circle(display, (255,165, 0), (315, 160), 35)
    pygame.draw.circle(display, (0,255, 0), (315, 257), 35)
    pygame.draw.rect(display, (0,14,20), (308, 318.5, 20, 250))
    pygame.draw.line(display,(0,14,20),(260,111),(368,111),5)
    pygame.draw.line(display, (0, 14, 20), (260, 211), (368, 211), 5)

    pygame.display.update()
pygame.quit()





	

